.toggle-btn-opt {
    width: 100%;
    justify-content: 'space-between';
}

.toggle-btn-opt .toggle {
    background: #000;
    color: #fff;
}

.toggle-btn-opt .toggle:hover {
    background: #000!important;
    color: #fff!important;
}
